<div data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="slide-out-right">
    <div class="modal-header">
        <div style="padding-right: 5px; justify-content: flex-start;">
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>    
        <h4 class="modal-title" id="modal-basic-title">        
            Forgot Password
        </h4>      
    </div>

    <div class="modal-body" style="position: relative; top: 50%;transform: translateY(-50%);">
        <form [formGroup]="forget_password_form" (ngSubmit)="forgetPassword(forget_password_form.value)">
            <!--Email-->

            <div class="email">
                <input type="email" formControlName="email" placeholder="Email" class="email_input" />
                <div id="validation_err_msg" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                    <div *ngIf="email?.errors?.required">
                        *Email required.
                    </div>
                    <div *ngIf="email?.errors?.email">
                        *Invalid Email.
                    </div>
                </div>
            </div>
            <!--Submit btn-->
            <div style="padding-top: 10px;">
                <button type="submit" class="submit_btn" [disabled]="!forget_password_form.valid">
                    <div style="margin: auto;">Send Email</div>
                </button>
            </div>
        </form>
    </div>
</div>