.modal-header{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 0;
    margin: 0;
}

/*EACH INPUT FIELD PARENT CONTAINER*/
.email{
    padding: 10px;
    width: 50%;
    margin: auto;
}

/*INPUT FIELDS*/
.email_input{
    border: 2px solid #59467D;
    border-radius: 10px;
    padding: 6px;
    font-size: 16px;
    width: 100%;
    font-family: 'Consolas';
}

/*INPUT VALIDATION*/
#validation_err_msg{
    color: red;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
}


/*btn*/
.submit_btn{
    display: flex;
    margin: auto;
    background: none;
    border: none;
    font-family: 'Consolas';
    font-size: 18px;
    padding: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

.submit_btn:hover:enabled{
    background: #47BB8C;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}