.modal-header{
    margin: auto;
    padding: 8px;
}

.modal-title{
    margin:auto;
}

.modal-body{
    width: 100%;
    text-align: center;
}

.field{
    width: 80%;
    padding: 5px;
}

.unselected:hover{
    cursor: pointer;
}

.cursor:hover{
    cursor: pointer;
    color: rgb(4, 248, 4);
}