<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        Lists Of Saved Bots
    </h4>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal('close')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <mat-selection-list  [multiple]="false">
    <mat-list-option (click)="selectBot(bot)" style="border-bottom: 1px solid #59467D;" *ngFor="let bot of bots" [value]="bot">
            <div class="bot_grid">
                <div class="id">
                    {{bot.key}}
                </div>
                <div class="name">
                    {{bot.name}}
                </div>
    
                <div class="datetitle">
                    Last Saved
                </div>
                <div class="date">
                    {{bot.last_saved | date: 'short'}}
                </div>         
        </div>

    </mat-list-option>
</mat-selection-list>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')">Close</button>
</div>