/* You can add global styles to this file, and also import other style files */

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*Chrome Scrollbar*/
::-webkit-scrollbar{
    width: 7px;
    background: transparent;
}

::-webkit-scrollbar-track{ 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background:#59467D; 
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #483966; 
}


/*
::ng-deep *{
    margin: 0;
    padding: 0;
}*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
