/* You can add global styles to this file, and also import other style files */

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*Chrome Scrollbar*/
::-webkit-scrollbar{
    width: 7px;
    background: transparent;
}

::-webkit-scrollbar-track{ 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background:#59467D; 
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #483966; 
}

::-webkit-scrollbar-track-piece{
    background: #cbcacc;
}

/*popup Msg Styling*/
.popup_msg{
    background: linear-gradient(to right, #59467D 30%, #47BB8C);
    
}

/*Button style*/
.popup_msg div div simple-snack-bar div{
    color: lightgray;
}

/*Popup info/msg style*/
.popup_msg div div simple-snack-bar{
    color: white;
}

/*delete modal*/
.deleteModalClass div .modal-content{
    height: fit-content;
    max-height: 70%;
}


/*Forgot password modal*/
/*.ForgotPasswordModalClass div .modal-content{
   position: absolute;
   -webkit-animation: right_to_left 3.5s 1;
   animation: right_to_left 3.5s 1;
}


@-webkit-keyframes right_to_left {
    0% {
      transform: translateX(15%);
    }
    14.28% {
      transform: translateX(0);
    }
    85.71% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes right_to_left {
    0% {
      transform: translateX(15%);
    }
    14.28% {
      transform: translateX(0);
    }
    85.71% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0%);
    }
  }*/

/*
::ng-deep *{
    margin: 0;
    padding: 0;
}*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
