

<div class="section">

    <div class="starting_section skew">
        <div class="left">
            <div class="title">
                Varbot
            </div>       
        </div>
        <div class="right">
            <div class="aboutus">
                <div class="aboutus_title">
                    Automate Websites With Varbot
                </div>
                <div class="aboutus_detail">
                    We help users automate most websites efficiently & effectively, saving time in the long run
                </div>
                <button class="aboutus_btn">
                    Get Started...
                </button>
            </div>       
        </div>
     
        
        
    </div>
    
    <div class="url_section" style="padding-left: 20px;"> 
        <div class="left" style="display: block; justify-content: flex-start;">
            <div class="number_border"><p class="number1">1</p></div>
            <div class="url_details">
                <h2 class="url_details_title">Provide the Website URL</h2>
                
                    <input placeholder="www.facebook.com" class="url_details_input"/>
                
                <div class="url_details_btn">
                    <button class="next_btn">Next</button>
                </div>
                
            </div>
        </div>
        <div class="right">
            <img class="websiteimg" src="/assets/websiteimg.png" alt="image">
        </div>
        
    </div>
    <div class="automate_section">          
        Automate Section
    </div>
    <div class="last_section">           
        Last Section
    </div>


    
</div>