<div class="section">
    <!--Loading designs-->
    <ngx-spinner name="bot" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Running your bot... </p></ngx-spinner>
    <ngx-spinner name="del" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Deleting Step(s)... </p></ngx-spinner>

    <!--Introduction Page-->
    <div class="starting_section skew_right_to_left">
        <div class="left">
            <div class="title">
                Varbot
            </div>       
        </div>
        <div class="right">
            <div class="aboutus">
                <div class="aboutus_title">
                    Automate Websites With Varbot
                </div>
                <div class="aboutus_detail">
                    We help users automate most websites efficiently & effectively, saving time in the long run
                </div>
                <button class="aboutus_btn">
                    Get Started...
                </button>
            </div>       
        </div>   
    </div>

    <!--Section 1: Adding of website URL form-->
    <div class="url_section" style="padding-left: 20px;"> 
        <div class="left" style="display: block;">
            <div class="number_border"><p class="number">1</p></div>
            <form [formGroup]="url_section_form" class="url_details" (ngSubmit)="add_code_website(url_section_form.value)">
                <h2 class="url_details_title">Provide the Website URL</h2>
                <div style="display: flex; justify-content: center;">
                    <input formControlName="enter_website"  placeholder="https://www.facebook.com/" class="url_details_input" />
                </div>
                                  
                <div class="url_details_btn">
                    <button type="submit" class="next_btn">Next</button>
                </div>              
            </form>
        </div>
        <div class="right">
            <img class="websiteimg" src="/assets/websiteimg.png" alt="image">
        </div>       
    </div>

    <!--Section 2: Commands area/section-->
    <div class="automate_section" style="padding-right: 20px;">      
        <div class="left" style="display: block;">
            <div class="automate_section_grid" style="grid-template-rows: minmax(auto, 9vh) minmax(auto, auto) minmax(auto, 60vh);">
                <h2 class="automation_step_title">Automation Steps <button (click)="Save()">Save</button> <img *ngIf="bot_codes.length > 0"  (click)="run_bot()" class="playbtn" alt="play_arrow" src="/assets/play_arrow.png"/></h2>
                <div class="automation_step_details">
                    <!--Automation steps list-->
                    <div class="automation_steps">
                        <ul style="list-style-type: none; padding: 0;">
                            <li style="display: flex; padding-bottom: 15px;"  *ngFor="let instruction of bot_code_name; let indexOfElement=index;">
                                <div [attr.id]="'instructionSteps_'+ indexOfElement">                              
                                    <div class="instruction_style_grid" [attr.id]="'highlightSteps_'+ indexOfElement"
                                        (click)="highlight_steps(indexOfElement)">
                                        <div style="grid-column: 1;grid-row: 1; font-family: 'Consolas'; padding-right: 5px;">
                                            ({{indexOfElement + 1}})
                                        </div>
                                        <div style="word-break: break-all; grid-column: 2;grid-row: 1; font-family: 'Consolas';">
                                            {{instruction}}
                                        </div>
                                        <div style="grid-column: 3;grid-row: 1; font-family: 'Consolas'; float: right;">
                                            <img (click)="openDeletePopup(indexOfElement, instruction)" class="icon hovering" alt="image" src="/assets/delete.png" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <img class="websiteimg2" alt="image" src="/assets/ai.png"/>
        </div>    
        <div class="right"  style="display: block;">

            <!--Tasks-->
            <!--2. Add Login/Logout features-->
            <!--3. Add Favourite feature-->
            <!--4. Ensure that when a saved bot is loaded, it will show a red dot whenever it has been
                    edited to remind users to save. And also a popup box warning them if they didn't-->
            
            
            <div class="automate_section_grid">
               
                <div class="numbergrid">
                    <div class="number_border" style="width: 100%;"><p class="number">2</p></div>  
                </div>

                <h2 class="automate_details_title">Addings Steps To Automation</h2>

                <!--Section 2 Input fields form-->
                <form [formGroup]="automation_section_form" class="automate_details" (ngSubmit)="add_code(automation_section_form.value)">
                    <div style="padding-bottom: 30px; text-align: center;">
                        <input formControlName="enter_input" *ngIf="selected_option === 'TXT' || selected_option === 'CLICK'" placeholder="Name of the code element to focus on. E.g. input[name=email]" class="automate_details_input input_input" />

                        <input formControlName="enter_path"  *ngIf="selected_option === 'SS'"  placeholder="Screenshot file name E.g. imgname123" class="automate_details_input input_path" />
                        <br><br>
                        <input formControlName="enter_text" *ngIf="selected_option === 'TXT'"  placeholder="Input text E.g. 'Hello! It's me!'" class="automate_details_input input_text" />
                    </div>
           
                    <div class="automate_selection_grid">
                        <button type="button" id="selection_click"  value="CLICK" (click)="selection_btn('CLICK')">
                            <div style="margin: auto;">
                                Click
                            </div>                        
                        </button>
                        <button type="button" id="selection_input"  value="TXT" (click)="selection_btn('TXT')">
                            <div style="margin: auto;">
                                Input
                            </div>                        
                        </button>
                        <button type="button" id="selection_screenshot" value="SS" (click)="selection_btn('SS')">
                            <div style="margin: auto;">
                                ScreenShot
                            </div>
                        </button>
                        <button type="button" id="selection_end"  value="END" (click)="selection_btn('END')">
                            <div style="margin: auto;">
                                End/Stop
                            </div>
                        </button>
                    </div>
                    <div style="padding-top: 10px;">
                        <button type="submit" class="add_btn"><div style="margin: auto;">Add</div></button>     
                    </div>                               
                </form>

                <div class="icons">
                    <!--Hints-->
                    <button style="border:none; padding: 0;" class="remove_input_style" mat-raised-button matTooltip="Bot to click on anything clickable."
                    *ngIf="selected_option ==='CLICK'"
                    aria-label="Bot to click on anything clickable.">
                        <img class="icon" src="/assets/lightbulb_icon.png" alt="tips" />
                    </button>
                    <button style="border:none; padding: 0;" class="remove_input_style" mat-raised-button matTooltip="Bot types on the input chosen."
                    *ngIf="selected_option ==='TXT'"
                    aria-label="Bot types on the input chosen.">
                        <img class="icon" src="/assets/lightbulb_icon.png" alt="tips" />
                    </button>
                    <button style="border:none; padding: 0;" class="remove_input_style" mat-raised-button matTooltip="Bot to screenshot current page and saves it."
                    *ngIf="selected_option ==='SS'"
                    aria-label="Bot to screenshot current page and saves it.">
                        <img class="icon" src="/assets/lightbulb_icon.png" alt="tips" />
                    </button>
                    <button style="border:none; padding: 0;" class="remove_input_style" mat-raised-button matTooltip="Ends the automation bot."
                    *ngIf="selected_option ==='END'"
                    aria-label="Ends the automation bot.">
                        <img class="icon" src="/assets/lightbulb_icon.png" alt="tips" />
                    </button>
                    
                    <!--Help-->
                    <button style="border: none; padding: 0;" class="remove_input_style">
                        <img (click)="open(mymodal)" class="icon" src="/assets/help_icon.png" alt="help"/>
                    </button>                  
                </div>                
            </div>           
            
            
        </div>
    </div>
    <!--Footer/Last Section-->
    <div class="last_section skew_left_to_right">     
        <div class="left" style="flex: 2; margin: auto; display: block; padding: 10px;">
            
        </div>
        <div class="right" style="padding-top: 70px;font-size: 110px; color: white; font-family: 'HYShortSamul'; margin: auto;">
            Varbot
        </div>      
    </div>
    
    <!--Help Modal-->
    <ng-template #mymodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"><button type="button" class="close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>Help
            </h4>
    
        </div>
        <div class="modal-body">
            <div class="step1">Step #1:</div>
            <div class="step2">Step #2:</div>
            <div class="step3">Step #3:</div>
            <div class="step4">Step #4:</div>
            <div class="step5">Step #5:</div>
            <div class="step6">Step #6:</div>

            <div class="step1_info">
                Select the 4 buttons (Click, Input, Screenshot & End).
            </div>

            <div class="step2_info">
                Write down the line of the code of a section of a website that you wish the bot to focus on.
                <br><br>
                Example: I want to automate a clicking of a button in a website. 
                <br><br>
                I will first find the code (e.g. '< button class="btn jj123" value="val123">< /button>') of the button using the 'devtools' available on my browser.
                <br><br>
                In this case, I can either write 'button[class=btn jj123]' or 'button[value=val123]' in the 1st/Top input field. Whichever works and is more unique (lower chances of duplicates in other buttons of the page). 
                <br><br>
                Rule of thumb, I will suggest always go for the longest characters inside the " ", especially those with spacing, in this case the former (e.g. class="btn jj123") rather than the latter. 
            </div>

            <div class="step3_info">
                Click on the 'Add' button.
            </div>
            <div class="step4_info">
                Rinse and repeat those steps.
            </div>
            <div class="step5_info">
                Once done, click on the 'End' button and then the 'Add' button below it.
            </div>
            <div class="step6_info">
                Click on the 'play' icon on the left-side of the screen to run the bot.
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
    </ng-template>
    
</div>